[Unit]
Description={{ service_name }}
ConditionPathExists=/var/www/{{ service_host }}
After=network.target
[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/var/www/{{ service_host }}
Environment=APP_PORT={{ service_port }} AWS_REGION={{ default_region }}
ExecStart="/var/www/{{ service_host }}/{{ service_name }}"
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ service_name }}

[Install]
WantedBy=multi-user.target
